.dragging-img {
    height: 50px;
    width: 100px;
    position: absolute;
    display: none;
    cursor: move;

}

.draggable {
    cursor: move;
}

.stretchable{
    cursor: pointer;
}
.entity {
    stroke-width: 2;
    stroke: black;
    fill: white;
}

.entity-text {
    font: normal 14px Lato;
    fill: black;
    stroke: none;
}

.edit-field {
    height: 25px;
    width: 100px;
    position: absolute;
    display: block;
    background: white;
    border: black 2px;
}

.moving-field {
    stroke: none;
    fill: white;
    opacity: 0;
}

.stretch-point{
    stroke-dasharray: none;
    stroke: black;
    fill: white;
}

.preview-line{
    stroke: blue;
    stroke-width: 2;
    stroke-dasharray: 5 5;
}